html
    head
        style
            include style.css
        title Title
    body
        article
            header
                h2= name
            figure
                img(src="./img/cat.jpg")
            p= birthdate
            p= weight
            script(src="./js/main.js")

